@import "bootstrap/dist/css/bootstrap.css";

p,h1,h2,h3,h4,h5, input, button, .dropdown, th, td{
  font-family: 'Readex Pro', 'Inter' !important;
}

.pg-active{
    background-color: #2b5497 !important;
    border: #2b5497 !important;
}

.pg-inactive{
    color: rgb(189, 186, 186) !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2b5497;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 150px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }